.topbar {
    font-size: 34px;
    color: #E8833A;
    background-color: #C3CFD9;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 67px;

    display: flex;
    align-items: center;
    justify-content: center;
}